{% for field in form %}
        <div class="form-floating form-floating-outline mb-4">
        {{ field }}
        {% if field.errors %}
            <div class="invalid-feedback">
                {% for error in field.errors %}
                    {{ error|escape }}
                {% endfor %}
            </div>                          
        {% endif %}
        {{ field.label_tag }}
        </div>                        
{% endfor %}
<button type="submit" class="btn btn-primary waves-effect waves-light">Сохранить</button>
